*{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family:Arial, sans-serif;
        }

        body{
            background:#f9f9f9;
        }

        header{
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:15px 20px;
            background:white;
            border-bottom:1px solid #ddd;
        }

        .logo{
            font-size:24px;
            font-weight:bold;
            color:rgb(255, 0, 0);
        }

        .search{
            width:40%;
        }

        .search input{
            width:100%;
            padding:8px;
            border:1px solid #ccc;
            border-radius:20px;
        }

        .icons{
            display:flex;
            gap:20px;
            font-size:20px;
        }


        .container{
            display:flex;
        }

        aside{
            width:200px;
            background:white;
            height:100vh;
            padding:20px;
            border-right:1px solid #ddd;
        }

        aside ul{
            list-style:none;
        }

        aside ul li{
            padding:12px 0;
            cursor:pointer;
        }

        aside ul li:hover{
            color:rgb(255, 0, 0);
        }


        main{
            flex:1;
            padding:20px;
        }

        .video-grid{
            display:grid;
            grid-template-columns:repeat(3,1fr);
            gap:20px;
        }

        .video-card{
            background:white;
            padding:10px;
            border-radius:10px;
            box-shadow:0 0 5px rgba(0,0,0,0.1);
        }

        .thumbnail{
            height:150px;
            background:#ccc;
            border-radius:8px;
            margin-bottom:10px;
        }

        .video-card h4{
            margin-bottom:5px;
        }

        .video-card p{
            color:gray;
            font-size:14px;
        }

        .footer{
            text-align:center;
            padding:15px;
            background:white;
            margin-top:20px;
            border-top:1px solid #ddd;
        }